body {
    margin: 0;
    font-family: Arial;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: #8BCF7A;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background: #63A966;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    border: none;
}

nav a {
    background: #CEFBC0;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 30px;
    text-decoration: none;
    color: #2F7D31;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 80px;
}

.left-boxes {
    display: flex;
    gap: 80px;
}

.box {
    color: #0c751b;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 25px;
    width: 200px;
    border-radius: 4%;
    font-weight: bold;
    gap: 30px;
}

.microfone {
    width: 60px;
}

.total {
    text-align: center;
    color: #0c751b;
}

.total p {
    font-size: 30px;
    font-weight: bold;
}

.total h1 {
    font-size: 130px;
    margin: 0;
}


.titulo h1 {
    color: #0c751b;
    text-align: center;
}

.cardcts {
    background: #D8F3D2;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
}

.label {
    display: block;
    color: #0c751b;
    font-weight: bold;
    margin-top: 15px;
}

form input, textarea {
    width: 100%;
}

.button {
    display: flex;
    justify-content: flex-end;
}


footer {
    background: #8BCF7A;
    height: 40px;
    margin-top: auto;
}

.logoif {
    width: 120px;
    margin-top: 5px;
}

/*  ADIÇÕES DO GUSTAVO (Página Sobre) */


.main-sobre {
    display: block;       
    text-align: center;
    padding: 40px 20px;
    height: auto;         
}


.card-sobre {
    background: #D8F3D2;  
    max-width: 800px;
    margin: 0 auto;       
    padding: 40px;
    border-radius: 10px;
    text-align: left;     
    line-height: 1.6;
    font-size: 18px;
    color: #0c751b;       
}

.titulo-sobre h1 {
    color: #0c751b;
    margin-bottom: 30px;
}

.titulo-sobre h1 {
    color: #0c751b;
    margin-bottom: 30px;
}

.btn-voltar {
    display: inline-block;
    background-color: #1C7801;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-voltar:hover {
    background-color: #123b18;
}