h1 {
  font-family:'Courier New', Courier, monospace;
  color: #005713;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color:#f4f4f4;
    
}

.barra {
    background-color: #9BDD87;
    height: 60px;
    width: 100%;
}

.barra-baixo{
    background-color: #9BDD87;
    height: 20px;
    width: 100%;
}

main {
    text-align: center;
    padding: 20px 20px 40px 20px;
}

main h1 {
    margin-top: -5px;
    margin-bottom: 30px;
    color:#2C892F;
    font-family: Arial;

}

.botoes button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 12px;
    border: none;
    background-color: #1C7801;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    display: flexbox;
}

.botoes button:hover {
    background-color: #123b18;
}

.caixa-verde{
    background-color: #D5EDCE ;
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.botãoMinhasOcorrencias{
    display: flex;

}


/* ESTILOS ESPECÍFICOS DA SESSÃO "SOBRE"  - Gustavo          */

header {
    background-color: #9BDD87; 
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo strong {
    color: #1b5e20;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.titulo-sobre {
    color: #2e7d32 !important; 
    font-family: Arial, sans-serif !important;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block; 
}


.card-conteudo {
    background-color: #dcedc8; 
    padding: 40px;
    max-width: 800px;
    margin: 0 auto; 
    border-radius: 10px;
    font-size: 18px;
    color: #1b5e20;
    line-height: 1.5;
}

.card-conteudo p {
    margin-bottom: 25px;
}

.btn-voltar {
    display: inline-block;
    background-color: #1C7801;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-voltar:hover {
    background-color: #123b18;
}

footer {
    height: 40px;
    background-color: #9BDD87;
    margin-top: auto;
}