body {
    margin: 0;
    font-family: Arial;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Cabeça*/
header {
    background: #8BCF7A;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*formatacao da logo "IFeedback"*/
.logo {
    background: #63A966;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    border: none;
}
/* configuracao das botoes menu*/
nav a {
    background: #CEFBC0;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 30px;
    text-decoration: none;
    color: #2F7D31;
    font-weight: bold;
}
/*Miolo da pagina home */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 80px;
}
/* Div mãe dos botoes "Faça uma ocorrencia"e" minhas ocorencias"*/
.left-boxes {
    display: flex;
    gap: 80px;
}
/*formatacao das dos botoes "Faça uma ocorrencia"e" minhas ocorencias"*/
.box {
    color: #0c751b;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 25px;
    width: 200px;
    border-radius: 4%;
    font-weight: bold;
    gap: 30px;
}
/* Tamanho da imagem do microfone*/
.microfone {
    width: 60px;
}
/*Formatacao da DIV do total de ocorrencia+numero*/
.total {
    text-align: center;
    color: #0c751b;
}
/*Formatacao da frase "total de ocorrencia atendidas, pagina home"*/
.total p {
    font-size: 30px;
    font-weight: bold;
}
/* Tamanho dos numero 532, pagina home*/
.total h1 {
    font-size: 130px;
    margin: 0;
}

/* Titulo"Faça seu comtario" na pagina cometarios */
.titulo h1 {
    color: #0c751b;
    text-align: center;
}
/* Formatacao do Card das paginas comentarios*/
.cardcts {
    background: #D8F3D2;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
}
/*Formatacao dos titulos do FORM, pagina comentarios*/
.label {
    display: block;
    color: #0c751b;
    font-weight: bold;
    margin-top: 15px;
}
/*Tamanho horizontal das areas de input*/
form input, textarea {
    width: 100%;
}
/*Formatacao do botao "Enviar", pagina comentarios*/
.button {
    display: flex;
    justify-content: flex-end;
}

/* formatacao rodape, pagina home e comentarios*/
footer {
    background: #8BCF7A;
    height: 40px;
    margin-top: auto;
}
/* formatacao da logo do IF*/
.logoif {
    width: 120px;
    margin-top: 5px;
}